{:deps {java-http-clj/java-http-clj {:mvn/version "0.4.3"}
        lambdaisland/uri {:mvn/version "1.4.74"}
        lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                                  :sha "a4487e78df935b6d8775019d95292fe4f375bdb7"
                                  #_#_:local/root "../open-source"}}
 :min-bb-version "0.6.0"}
